streamlit
altair
annotated-types
anyio
attrs
azure-ai-formrecognizer
azure-common
azure-core
azure-storage-blob
blinker
cachetools
certifi
cffi
charset-normalizer
click
cryptography
distro
entrypoints
gitdb
GitPython
httpcore
httpx
idna
isodate
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
msrest
numpy
oauthlib
openai
packaging
pandas
pdfminersix
pdfplumber
pillow
pip
protobuf
pyarrow
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyPDF2
pypdfium
python-dateutil
python-decouple
python-dotenv
pytz
referencing
requests
requests-oauthlib
rich
rpds-py
setuptools
six
smmap
sniffio
streamlit
streamlit-aggrid
streamlit-pdf-viewer
tenacity
toml
toolz
tornado
tqdm
typing_extensions
tzdata
urllib3
watchdog
wheel